{% if object.emotion_propotion < 50 %}
<style>
    p{
        color: red;
    }
</style>
{% else %}
<style>
    p{
        color : blue;
    }
</style>
{% endif %}

<h2> {{object.title}} </h2>

<p class = "other_posts">
    {% if object.get_previous_post_by_modify_date %}
        <a href="{{object.get_previous_post.get_absolute_url }}" title="view previous post"> &laquo;--{{object.get_previous_post}}</a>
    {% endif %}
</p>

<p class="date">{{object.modify_date|date:"j F Y"}}</p>
<div class="writer">
    writer : {{ object.post_writer}}
</div>
<br/>

<div class="body">
    {{ object.content|linebreaks}}
</div>
<hr>

{% for comment in object.comments.all %}
    <div class="comment">
        <div class="date"> {{comment.comment_date}}</div>
        <strong>{{comment.comment_writer}}</strong>
    </div>
<p> {{ comment.comment_contents }}</p>
{% empty %}
<p> No Comments Here</p>
{% endfor %}
